<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="manifest" href="{{ site.url }}/assets/images/favicon/site.webmanifest">

<meta name="msapplication-square150x150logo" content="{{ site.url }}/assets/images/favicon/mstile-150x150.png" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
