<div class="social-cards">
  <meta property="og:url" content="http://www.johnwmillr.com/index.html">

  <meta name="twitter:site"    content="@{{ site.twitter }}">
  <meta name="twitter:creator" content="@{{ site.twitter }}">
  {% if post.title %}
      <meta property="og:title"  content="{{ post.title }}">
      <meta name="twitter:title" content="{{ post.title }}">
  {% elsif page.title %}
      <meta property="og:title"  content="{{ page.title }}">
      <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
      <meta property="og:title"  content="{{ site.description }}">
      <meta name="twitter:title" content="{{ site.description }}">        
  {% endif %}


  {% if post.description %}
      <meta name="twitter:title"       content="{{ post.description }}">
      <meta name="twitter:description" content="{{ post.description }}">
      <meta property="og:description"  content="{{ post.description }}">
  {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
      <meta property="og:description"  content="{{ site.description }}">
  {% endif %}    

  {% if post.image %}
      <meta name="twitter:card"  content="summary_large_image">
      <meta name="twitter:image" content="{{ site.url }}/{{ post.image }}">    
      <meta property="og:image"  content="{{ site.url }}/{{ post.image }}">    
  {% else %}
      <meta name="twitter:card"  content="summary">
      <meta name="twitter:image" content="{{ site.url }}/{{ site.picture }}">    
      <meta property="og:image"  content="{{ site.url }}/{{ site.picture }}">        
  {% endif %}    
</div>